@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

h1,
.heading-logo {
  font-family: "Birthstone", cursive;
}

.anticon svg {
  fill: #136c36;
}
